version: '3'

services:
  kkfileview:
    image: keking/kkfileview:4.1.0
    container_name: kkfileview
    platform: linux/amd64  # 确保还是使用 AMD64 架构，如果之前设置过
    ports:
      - '8012:8012' # 替换成你需要的端口映射
    volumes:
      - ./config/application.properties:/opt/kkFileView-4.1.0/config/application.properties # 配置文件路径映射
    #   - ./files:/opt/kkFileView-4.1.0/files # 文件存储路径映射
    environment:
      - KK_BASE_URL=http://localhost:3333/api/proxy/kkfileview # 预览服务地址 - 前端域名，比如线上与pre用 线上的。 测试 用测试1。dev用dev1就行。
      - KK_OFFICE_PREVIEW_TYPE=pdf # office类型 文档 使用pdf预览
      - KK_OFFICE_PREVIEW_SWITCH_DISABLED=true # 关闭office预览切换开关
      # 信任站点，多个用','隔开，设置了之后，会限制只能预览来自信任站点列表的文件，默认不限制，得加我们的桶，私有化部署的时候也得加他们的文件服务域名
      # - KK_TRUST_HOST=file.keking.cn,kkfileview.keking.cn,file.kkview.cn
      # - KK_TRUST_HOST=127.0.0.1,localhost # 添加信任的域名
      # - KK_TRUST_HOST=127.0.0.1,localhost,127.0.0.1:5500

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - 5500:80
    volumes:
      - ./:/usr/share/nginx/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - kkfileview
networks:
  default:
    driver: bridge
